@font-face {
    font-family: "Montserrat SemiBold";
    src: url(../fonts/Montserrat_SemiBold.ttf);
}

.navbar {
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.navbar-collapse {
    display: flex;
    justify-content: space-between;
}

.navbar-light .nav-link {
    font-family: "Montserrat SemiBold", sans-serif;
    color: black;
    font-size: 18px;
}

.nothing {
    height: 60px;
}