@font-face {
    font-family: "GothamBold";
    src: url(../fonts/GothamBold.otf);
}

.navbar {
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.navbar-collapse {
    display: flex;
    justify-content: space-between;
}

.navbar-light .nav-link {
    font-family: "GothamBold", sans-serif;
    color: black;
    font-size: 19px;
}

.nothing {
    height: 60px;
}