{% extends "base.html" %}

{% block content %}
<!-- Только CSS -->
<link rel="stylesheet" href="../static/css/privileges.css">

<div class="checkselect">
    <label><input type="checkbox" name="brands[]" value="1">Астрономия (3)</label>
    <label><input type="checkbox" name="brands[]" value="2">Биология (9)</label>
    <label><input type="checkbox" name="brands[]" value="3">География (8)</label>
    <label><input type="checkbox" name="brands[]" value="4">Геология (2)</label>
    <label><input type="checkbox" name="brands[]" value="5">Гуманитарные и социальные науки (3)</label>
    <label><input type="checkbox" name="brands[]" value="6">Естественные науки (3)</label>
    <label><input type="checkbox" name="brands[]" value="7">Журналистика (5)</label>
    <label><input type="checkbox" name="brands[]" value="8">Инженерные науки (2)</label>
    <label><input type="checkbox" name="brands[]" value="9">Иностранный язык (13)</label>
    <label><input type="checkbox" name="brands[]" value="10">Информатика (13)</label>
    <label><input type="checkbox" name="brands[]" value="11">История (16)</label>
    <label><input type="checkbox" name="brands[]" value="12">Лингвистика (2)</label>
    <label><input type="checkbox" name="brands[]" value="13">Литература (7)</label>
    <label><input type="checkbox" name="brands[]" value="14">Математика (27)</label>
    <label><input type="checkbox" name="brands[]" value="15">Обществознание (12)</label>
    <label><input type="checkbox" name="brands[]" value="16">Политология (3)</label>
    <label><input type="checkbox" name="brands[]" value="17">Право (7)</label>
    <label><input type="checkbox" name="brands[]" value="18">Программирование (2)</label>
    <label><input type="checkbox" name="brands[]" value="19">Психология (2)</label>
    <label><input type="checkbox" name="brands[]" value="20">Рисунок (2)</label>
    <label><input type="checkbox" name="brands[]" value="21">Робототехника (2)</label>
    <label><input type="checkbox" name="brands[]" value="22">Русский язык (8)</label>
    <label><input type="checkbox" name="brands[]" value="23">Социология (3) (2)</label>
    <label><input type="checkbox" name="brands[]" value="24">Теория и история музыки (2)</label>
    <label><input type="checkbox" name="brands[]" value="25">Техника и технологии (2)</label>
    <label><input type="checkbox" name="brands[]" value="26">Физика (25)</label>
    <label><input type="checkbox" name="brands[]" value="27">Филология (5)</label>
    <label><input type="checkbox" name="brands[]" value="28">Философия (2)</label>
    <label><input type="checkbox" name="brands[]" value="29">Финансовая грамотность (4)</label>
    <label><input type="checkbox" name="brands[]" value="30">Химия (15)</label>
    <label><input type="checkbox" name="brands[]" value="31">Экономика (8)</label>
    <label><input type="checkbox" name="brands[]" value="32">Остальные (65)</label>
</div>
<script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
<script>
    var checked_array = [];
    (function ($) {
        function setChecked(target) {
            var checked_array = $(target).find('input[type="checkbox"]').map(x => x.is(':checked'));
            window['checked_array'] = checked_array;
            var checked = $(target).find("input[type='checkbox']:checked").length;
            if (checked) {
                $(target).find('select option:first').html('Выбрано: ' + checked);
            } else {
                $(target).find('select option:first').html('Выберите предметы');
            }
        }

        $.fn.checkselect = function () {
            this.wrapInner('<div class="checkselect-popup"></div>');
            this.prepend(
                '<div class="checkselect-control">' +
                '<select class="form-control"><option></option></select>' +
                '<div class="checkselect-over"></div>' +
                '</div>'
            );

            this.each(function () {
                setChecked(this);
            });
            this.find('input[type="checkbox"]').click(function () {
                setChecked($(this).parents('.checkselect'));
            });

            this.parent().find('.checkselect-control').on('click', function () {
                $popup = $(this).next();
                $('.checkselect-popup').not($popup).css('display', 'none');
                if ($popup.is(':hidden')) {
                    $popup.css('display', 'block');
                    $(this).find('select').focus();
                } else {
                    $popup.css('display', 'none');
                }
            });

            $('html, body').on('click', function (e) {
                if ($(e.target).closest('.checkselect').length == 0) {
                    $('.checkselect-popup').css('display', 'none');
                }
            });
        };
    })(jQuery);

    $('.checkselect').checkselect();
</script>


{% endblock %}