{% extends "base.html" %}

{% block content %}
    <!-- Только CSS -->
    <link rel="stylesheet" href="../static/css/privileges.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

    <p class="something_text">Выбери олимпиады, которые ты выиграл, укажи степень диплома и
        узнай в каких ВУЗы и на каких специальностях у тебя есть льготы</p>
    <div class="table_and_checked">
        <table id="table1" class="table table-bordered table-hover table-responsive">
            <thead>
            <tr>
                <th class="w-5"></th>
                <th class="w-300">Название олимпиады</th>
                <th class="w-20">Номер в Перечне</th>
                <th class="w-50" style="text-align: center;">Профиль</th>
                <th class="w-20">Уровень олимпиады</th>
                <th class="w-20">Степень диплома</th>
            </tr> <!--ряд с ячейками заголовков-->
            </thead>
            <tbody>
            {% for ik in data %}
                <tr>
                <td style="width: 100%;"><input type="checkbox" class="check_mark"></td>
                    {% for el in ik %}
                        {% if loop.index != 1 %}
                        <td style="text-align: center;">{{ el }}</td>
                        {% else %}
                        <td>{{ el }}</td>
                        {% endif %}
                    {% endfor %}
                    <td>
                        <select class="stepen_diploma">
                            <option value=1>1</option>
                            <option value=1>2</option>
                            <option value=3>3</option>
                        </select>
                    </td>
                </tr> <!--ряд с ячейками тела таблицы-->
            {% endfor %}
            </tbody>
        </table>

        <div class="checkselect" id="select1">
            {% for el in all_olymps %}
                <label><input type="checkbox" name="brands[]" value={{ loop.index }}>{{ el }}</label>
            {% endfor %}
        </div>
        <div class="checkselect" id="select2">
            <label><input type="checkbox" name="brands[]" value=1>1</label>
            <label><input type="checkbox" name="brands[]" value=2>2</label>
            <label><input type="checkbox" name="brands[]" value=3>3</label>
        </div>

    </div>


    <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
    <script src="../static/js/privileges.js"></script>

{% endblock %}